<div class="form-group">
  <label for="file">Choose File</label>
  <input type="file"
         id="file"
         (change)="handleFileInput($event.target.files)">
</div>

<div class="card-panel teal lighten-2" *ngIf="score">TP: {{score.TP}} TN: {{score.TN}} FP: {{score.FP}} FN: {{score.FN}}
  Precision: {{score.precision}} Recall: {{score.recall}}</div>

<li *ngFor="let img of images">
  <div class="row">
    <div class="col 12 m6">
      <div class="card">
        <div class="card-image">
          <img src="assets/stickers/{{img.file}}">
        </div>
        <div class="card-content">
          <li *ngFor="let s of img.scores">
            <p>{{s.human_string}}:{{s.score}}
              <a class="waves-effect waves-light btn" (click)="send(img.file, s.human_string, 'TP')">TP</a>
              <a class="waves-effect waves-light btn" (click)="send(img.file, s.human_string, 'TN')">TN</a>
              <a class="waves-effect waves-light btn" (click)="send(img.file, s.human_string, 'FP')">FP</a>
              <a class="waves-effect waves-light btn" (click)="send(img.file, s.human_string, 'FN')">FN</a>
              <b> select: {{s.expert}}</b>
            </p>
          </li>
        </div>
        <div class="card-action">
          <a href="#">This is a link</a>
        </div>
      </div>
    </div>
  </div>
</li>

